@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Autour+One&family=Gabarito:wght@900&family=Happy+Monkey&family=Orbitron:wght@600&family=Poppins:wght@400;500&family=Roboto:wght@300&display=swap');

body {
    min-width: 100px;
    min-height: 1px;
    background-color: #edede9;
    align-self: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.top {
    min-height: 100px;
    display: flex;
    gap: 10px;
}
.container1 {
    display: inline-block;
    background-color: white;
    border-radius: 5px;
    border: 0px solid black;
    padding: 10px 10px 50px 10px;
    width: 650px;
    min-width: 100px;
    min-height: 1px;
}
.budget-txt {
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    min-width: 100px;
}
.budget-input {
    border: 1PX solid #ccc5b9;
    border-radius: 5px;
    height: 35px;
    box-sizing: content-box;
    width: 35vw;
    min-width: 10px;
    
}
.budget-input::placeholder {
    font-size: 12px;
}
.expenses-input::placeholder {
    font-size: 12px;
}
.budget-button{
    margin-top: 20px;
    color: white;
    background-color: #4895ef;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    min-width: 100px;
    box-sizing: border-box;
}

.expenses-txt {
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 10px;
    font-weight: 500;
}
.budget-txt {
    font-weight: 500;
}
.container2 {
    background-color: white;
    padding: 10px;
    display: inline-block;
    border: 0cap solid black;
    width: 650px;
    border-radius: 5px;
    min-width: 100px;
    min-height: 100px;
}
.expenses-input {
    border: 1PX solid #ccc5b9;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 3px;
    width: 16vw;
    min-width: 110px;
}
.expenses-button {
    margin-top: 20px;
    color: white;
    background-color: #4895ef;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    min-width: 100;
    box-sizing: border-box;
}
.middle {
    justify-content: space-between;
    border: 0px solid black;
    display: flex;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #4895ef;
    color: white;
    margin-bottom: 20px;

}

.bottom-container1 {
margin-left: 40px;
    text-align: center;
}
.bottom-container3 {
margin-right: 40px;
    text-align: center;
}
.bottom-conatiner2 {

    text-align: center;
}

.total-budget-txt {
    margin-top: 16px;
    font-size: 13px;
    font-weight: 500;
}
.balance-txt {
    font-size: 14px;
    font-weight: 500;
}
.expenses-txt2 {
    font-size: 14px;
    font-weight: 500;
}
 input:focus { 
    outline: none;
 }

 input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
li {
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    border-left: 5px solid #4895ef;
    font-weight: 400;
    margin-top: 0%;
    list-style: none;
    background-color: white;
    min-width: 100px;
    padding: 0px;
    padding-top: 3px;
    padding-bottom: 0px;
    padding-left: 10px;
    margin-bottom: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.value {
    margin-left: 60%;
}

ul {
    width: 100%;
    min-width: 100px;
    margin-top: 0%;
    padding: 0%;
    margin-top: 0px;
}
.bottom {
    min-height: 1px;
    max-height: 10000px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 10px;
    padding-left: 15px;
    font-weight: 500;
    background-color: white;
    border: 0px solid black;
    border-radius: 5px;
    min-width: 100px;
}
.value-img {
    height: 1px;
    min-width: 1px;
    min-height: 1px;
}

.title-value {
    margin: 0%;
    margin-left: 30px;
}
.value {
    margin: 0%;
    margin-left: 25px;
    margin-right: 15px;
    text-align: center;
}
.delete-btn {
    margin-right: 5%;
   text-align: end;
   height: 30px;
}

.expense-list {
    margin-left: 20px;
}
.expenses-input::placeholder {
    font-size: smaller;
}

.budget-input::placeholder {
    font-size: smaller;
}